body {
  margin: 0px;
  padding-top: 30px;
  background-color: #333;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  text-align: center;
}

.fancy-button, fancy-button * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  display:block;
}

.fancy-buttonContainer {
  display: inline-block;
  margin:10px;
  text-align: center;
}

.fancy-buttonOverlayContainer, .fancy-buttonOverlay {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.fancy-button {
  display: block;
  height: 300px;
  width: 300px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 10px 42px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 42px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 42px -7px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

.fancy-buttonContainer:hover .fancy-button {
  -webkit-animation: shadow 100ms normal forwards;
}

@-webkit-keyframes shadow {
  from {
    box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.3);
  }
  to {
    box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.05);
  }
}

@-moz-keyframes shadow {
  from {
    -moz-box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.3);
  }
  to {
    -moz-box-shadow: 0px 10px 22px -7px rgba(0, 0, 0, 0.05);
  }
}

.r {
  background-color: #C2547C;
  height: 200px;
}

.g {
  background-color: #81B060;
}

.b {
  background-color: #6499CB;
  border-radius: 20px;
}

.b .fancy-buttonOverlay {
  border-radius: 20px;
}

.y {
  background-color: #e5ae2d;
  width: 200px;
}
